<!DOCTYPE html>
<html>
<head>
<!-- head load  -->
<%- include('partials/head') %>
</head>    
<body onload="mainFunction()">
<!-- navbar here -->
<%- include('partials/navbar') %>
<!-- banner section start here -->    
<%- include('partials/slider') %>
<!-- content here -->
<%- include('partials/content') %>
<!-- footer section -->
<%- include('partials/footer') %>
</body>
</html>