<!DOCTYPE html>
<html>
<head>
    <!-- head load  -->
     <%- include('partials/head') %>
</head>    
<body>
<!-- navbar here -->
<%- include('partials/navigations') %>

<section id="content" class="container mx-auto mt-5">
    <h1 align="center"><%= message %></h1>
    <p align="center"><%= text %></p>
    
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis id magnam numquam fuga adipisci saepe accusantium delectus. Ipsum, mollitia! Sit unde in excepturi, explicabo eum eveniet pariatur ipsum iste nemo.</p>

 </section>

 <!-- footer section -->
<%- include('partials/footer') %>
</body>
</html>