<!DOCTYPE html>
<html>
<head>
    <!-- head load  -->
     <%- include('partials/head') %>
</head>    
<body>
<!-- navbar here -->
<%- include('partials/navigations') %>
<!-- banner section start here -->    
<%- include('partials/banner') %>
<!-- content here -->
<%- include('partials/content') %>
<!-- footer section -->
<%- include('partials/footer') %>
</body>
</html>